@font-face {
    font-family: sublime-font;
    src: url(../fonts/sublime-font.ttf);
}

/*body{
  margin: 0;
}
*/
/*header{
  width: 100vw;
  height: 5vh;
  background-color: rgb(51, 51, 51);
}
*/

/* Header */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

body { 
  font-size: 1.05em;
  line-height: 1.25em;
  font-family: Helvetica Neue, Helvetica, Arial;
  background: #f9f9f9;
  color: #555;
}

a {

  color: #4C9CF1;
  text-decoration: none;
  font-weight: bold;

}

a:hover {

  color: #444;

}

header {

  background: #fff;
  width: 100%;
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 4px solid #4C9CF1;
  z-index: 100;

}

nav {

  padding: 20px;  

}

.floatleft{
  float: left;
}

.floatright{
  float: right;
}

#menu-icon {

  display: hidden;
  width: 40px;
  height: 40px;
  background: #4C8FEC url(../img/menu-icon.png) center;

}


ul {

  list-style: none;

}

li {

  display: inline-block;
  float: left;
  padding: 10px

}

.current {

  color: #2262AD;

}

section {

  margin: 80px auto 40px;
  max-width: 980px;
  position: relative;
  padding: 20px

}

h1 {

  font-size: 2em;
  color: #2262AD;
  line-height: 1.15em;
  margin: 20px 0 ;

}

p {

  line-height: 1.45em;
  margin-bottom: 20px;

}


/* End of Header */

.navbar-title{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    color: rgb(249, 240, 249);
    font-family: futura;
    margin-left: 2vw;
    padding-top: 1vh;
}

main{
  width: 95vw;
  margin-left: 5vw;
}

.titles, .sub-titles{
  font-family: futura;
  font-size: 40px;
  padding-right: 5vw;
  color: rgb(51, 51, 51);
}

.sub-titles{
  font-size: 30px;
}

footer{
  width: 100vw;
  height: 5vh;
  background-color: rgb(51, 51, 51);
  margin-top: 2vh;
  /*position:fixed;*/
  left:0px;
  bottom:0px;  
}

.camagru-center {
  /*float: left;*/
}

.mini-gallery{
  height: 300px;
  overflow: auto;
  background-color: rgb(249, 240, 249);
  float:right;
}

.inside-camagru{
  width: 75vw;
  /*display: inline-block;*/
  float: left;
}

.footer-credits{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    color: rgb(249, 240, 249);
    font-family: futura;
    margin-left: 2vw;
    padding-top: 1vh;
}

.button-frame{
  border: 0;
  background: transparent;
}

.gallery{
  width: 75vw;
  height: 50vh;
}

.gallery-pic{
  width: 20vw;
  margin-left: 5vw;
  float: left;
}

.img-gal {
  width: 100%;
}

.pages{
  background-color: rgb(51, 51, 51);
  color: rgb(249, 240, 249);
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
  font-size: 30px;
}

.pages a{
  color: rgb(249, 240, 249);
}

#likes{
  font-size: 40px;
  float: left;
}

.gallery a{
  color: red !important;
}

.list-comments{
  width: 30vw;
  margin-bottom: 6vh;
  margin-top: 6vh;
}

.comment-text{
  color: rgb(249, 240, 249);
  background-color: rgb(51, 51, 51);
  margin: auto;
}

a{
  text-decoration: none;
}

p{
  font-family: sublime-font;
  font-size: 13px;
}

.submissionfield{
  width: 390px;
  height: 90px;
  border: 1px solid #999999;
  padding: 5px;
}

#black{
  color: white;
  background-color: black;
}

#white{
  background-color: white;
}

#cyan{
  background-color: #00ffff;
}

#yellow{
  background-color: #FFFF00;
}

.draw{
  background-color: grey;
}

/*.camagru-center{
  width: 50vw;
  height: 50vw;
  background-color: yellow;
  float: left;
  margin-bottom: 20vh;
}

.camagru-right{
  width: 30vw;
  height: 40vw;
  background-color: pink;
  float: left;
  margin-bottom: 20vh;
}*/